@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,400,500,700&display=swap&subset=korean');

* {
    font-family: 'Noto Sans KR', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: #8758ff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-betweens {
  display: flex;
  justify-content: space-between;
}

.flexs {
  display: flex;
}

.cursor-pointers {
  cursor: pointer;
}

.TodoWrapper {
    background: #1A1A40;
    margin-top: 5rem;
    padding: 2rem;
    border-radius: 5px;
}

.title {
    color: #fff;
    margin-bottom: 0.5rem;
    font-size: 1.75rem;
}

.TodoForm {
    width: 100%;
}

.todo-input {
    outline: none;
    background: none;
    border: 1px solid #8758ff;
    padding: 0.5rem 1rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
    width: 300px;
    color: #fff;
}

.todo-input::placeholder {
    color: #ffffff4d;
}

.todo-btn {
    width: 75px;
    background: #8758ff;
    color: #fff;
    border: none;
    padding: 0.55rem;
    cursor: pointer;
}

.TodoList {
    display: flex;
    flex-direction: column;
}

.Todo {
    display: flex;
    align-items: center;
    background: #8758ff;
    color: #fff;
    padding: 0.75rem 1rem;
    border-radius: 5px;
    margin-bottom: 1rem;
    cursor: pointer;
}

.TodoTitle {
    width: 100%;
    display: flex;
}
.TodoTitle > p {
    margin-left: 12px;
}
.TodoIconUl > li {
    margin-left: 12px;
    list-style: none;
}
.star {
    color: yellow;
}
.important {
    order: -1;
}
.checked {
    color: #c5aeff;
    text-decoration: line-through;
}